<div class="date-range-section">
  <ion-label class="date-range-label">Date Range</ion-label>
  <div class="date-button-row">
    <ion-button
      class="date-button"
      expand="block"
      fill="outline"
      (click)="isStartDateOpen.set(true)"
    >
      <span class="date-button-label">Start:</span>
      {{
        dateRange().startDate
          ? (dateRange().startDate | date : "MM/dd/yyyy")
          : "Any"
      }}
      <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
    </ion-button>
    <ion-button
      class="date-button"
      expand="block"
      fill="outline"
      (click)="isEndDateOpen.set(true)"
    >
      <span class="date-button-label">End:</span>
      {{
        dateRange().endDate
          ? (dateRange().endDate | date : "MM/dd/yyyy")
          : "Any"
      }}
      <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
    </ion-button>
  </div>

  <div
    class="reset-button-row"
    *ngIf="dateRange().startDate || dateRange().endDate"
  >
    <ion-button size="small" fill="clear" (click)="resetDateRange()">
      <ion-icon name="close-circle-outline" slot="start"></ion-icon>
      Clear Dates
    </ion-button>
  </div>
</div>

<!-- Start Date Picker Modal -->
<ion-modal
  [isOpen]="isStartDateOpen()"
  (didDismiss)="isStartDateOpen.set(false)"
  class="date-picker-modal"
  [cssClass]="'date-picker-modal'"
  [presentingElement]="null"
>
  <ng-template>
    <ion-datetime
      presentation="date"
      [showDefaultButtons]="true"
      (ionChange)="onStartDateChange($event)"
      [value]="dateRange().startDate"
    />
  </ng-template>
</ion-modal>

<!-- End Date Picker Modal -->
<ion-modal
  [isOpen]="isEndDateOpen()"
  (didDismiss)="isEndDateOpen.set(false)"
  class="date-picker-modal"
  [cssClass]="'date-picker-modal'"
  [presentingElement]="null"
>
  <ng-template>
    <ion-datetime
      presentation="date"
      [showDefaultButtons]="true"
      (ionChange)="onEndDateChange($event)"
      [value]="dateRange().endDate"
    ></ion-datetime>
  </ng-template>
</ion-modal>
