<app-page-topbar title="All Pull Sheets"></app-page-topbar>
<ion-content>
  <app-content-topbar title="Pull Sheets" [showRefresher]="true"></app-content-topbar>
  <div id="content">
    @if (pullSheetMainsDisplay().length === 0) {
      @if (isFetchingData()) {
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
        <ion-list>
          <ion-item>
            <ion-label>
              Loading Pull Sheets... 
            </ion-label>
          </ion-item>
        </ion-list>
      } @else {
        <ion-list>
          <ion-item>
            <ion-label>
              No Pull Sheets Found... 
            </ion-label>
          </ion-item>
        </ion-list>
      }
    } @else {
      <cdk-virtual-scroll-viewport class="ion-content-scroll-host" [itemSize]="78" [minBufferPx]="960" [maxBufferPx]="1440">
        <ion-list id="pull-sheets-list">
          <ion-item *cdkVirtualFor="let pullSheetMain of pullSheetMainsDisplay(); trackBy: trackByPullSheetMain" 
            button [detail]="true" (click)="setSelectedPullSheetMain(pullSheetMain)"> 
            <ion-label>
              <strong>Number: {{ pullSheetMain.pullSheetNumber }}</strong><br />
              <ion-text>Pick Up Date: {{ pullSheetMain.pickupDate | date: 'M/d/yyyy h:mm a' }}</ion-text><br />
              <ion-text id="customer-name">Customer: {{ pullSheetMain.customerName }}</ion-text>
            </ion-label>
            <ion-label class="metadata-end-wrapper" slot="end">
              <ion-note class="ion-text-wrap">
                <ion-chip [color]="pullSheetMain.orderFullyShipped ? 'success' : 'warning'">
                  {{ pullSheetMain.orderFullyShipped ? 'Fulfilled' : 'Pending' }}
                </ion-chip>
              </ion-note>
            </ion-label>
          </ion-item>
        </ion-list>
      </cdk-virtual-scroll-viewport>
    }
  </div>
</ion-content>
<ion-fab slot="fixed" horizontal="end" vertical="bottom">
  <ion-fab-button color="primary" (click)="isCreatingPullSheetMain.set(true)">
    <ion-icon ios="add-outline" md="add-sharp"></ion-icon>
  </ion-fab-button>
</ion-fab>
