<ion-tabs>
  @if (!isInEntryPage() && !isInReturnPage()) {
    <ion-tab-bar slot="bottom" [color]="'primary'">
      <ion-tab-button tab="returns">
        <ion-icon ios="receipt-outline" md="receipt-sharp"></ion-icon>
        Returns
      </ion-tab-button>
      <ion-tab-button tab="customer-containers">
        <ion-icon ios="people-outline" md="people-sharp"></ion-icon>
        Customer
      </ion-tab-button>
      <ion-tab-button tab="mbn-containers">
        <ion-icon ios="list-outline" md="list-sharp"></ion-icon>
        MBN
      </ion-tab-button>
    </ion-tab-bar>
  }
</ion-tabs>