<ion-fab
  vertical="bottom"
  horizontal="end"
  slot="fixed"
  [style.bottom]="bottomMargin()"
>
  <ion-fab-button (click)="openForm()" color="secondary">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-modal [isOpen]="isFormOpen()" (didDismiss)="closeForm()">
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Manage Return Receipt</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeForm()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-return-receipt-form
        (receiptCreated)="onReceiptCreated($event)"
        (receiptUpdated)="onReceiptUpdated($event)"
        (receiptDeleted)="onReceiptDeleted($event)"
      ></app-return-receipt-form>
    </ion-content>
  </ng-template>
</ion-modal>
