<app-list-view
  [title]="'Return Receipts'"
  [totals]="undefined"
  [items]="filteredEntries()"
  [isLoading]="isLoading()"
  [disableSummary]="true"
  [emptyStateMessage]="'No return receipts found'"
  [trackByFn]="trackByReceiptId.bind(this)"
>
  <!-- Filter Template -->
  @if (!disableFilters()) {
  <ng-template #filterTemplate>
    <app-dropdown-select
      label="Customer"
      [placeholder]="'Select Customers'"
      [options]="customerOptions()"
      [allowNullOption]="false"
      [multiple]="true"
      [selectedValue]="selectedCustomers()"
      (selectionChange)="onCustomerChange($event)"
    />
  </ng-template>
  }
  <!-- Item Template -->
  <ng-template #itemTemplate let-receipt>
    <ion-item
      lines="full"
      class="receipt-item"
      button="true"
      detail="false"
      (click)="onReceiptClick(receipt)"
    >
      <div class="receipt-entry-container">
        <!-- Top Section: Receipt Reference & Date -->
        <div class="entry-header">
          <div class="receipt-reference">
            <ion-icon name="receipt" color="primary"></ion-icon>
            {{ receipt.containerReceiptReference || "No Reference" }}
          </div>
          <div class="entry-date">
            <ion-icon name="calendar" color="medium"></ion-icon>
            {{ receipt.date | date : "MMM d, y" }}
          </div>
        </div>

        <!-- Bottom Section: Customer Info -->
        <div class="entry-footer">
          <div class="customer-info">
            @if (receipt.customerName) {
            <ion-icon name="person" color="secondary"></ion-icon>
            <span>{{ receipt.customerName }}</span>
            } @else {
            <ion-icon name="person" color="medium"></ion-icon>
            <span class="no-customer">No Customer Assigned</span>
            }
          </div>
        </div>
      </div>
    </ion-item>
  </ng-template>
</app-list-view>
