<ion-item
  [disabled]="disabled()"
  button
  (click)="openDropdown($event)"
  (keydown.enter)="openDropdown($event)"
  (keydown.space)="openDropdown($event)"
  class="dropdown-trigger"
  [id]="'trigger-' + triggerId"
  [attr.aria-label]="label() + ' dropdown'"
  [attr.aria-expanded]="isDropdownOpen()"
  tabindex="0"
  role="combobox"
>
  <ion-label position="stacked">{{ label() }}</ion-label>
  <ion-input readonly [placeholder]="placeholder()" [value]="getDisplayValue()">
    <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
  </ion-input>
</ion-item>

<!-- Dropdown Popup -->
<ion-popover
  [isOpen]="isDropdownOpen()"
  (didDismiss)="closeDropdown()"
  [trigger]="'trigger-' + triggerId"
  side="bottom"
  alignment="start"
  size="cover"
  class="dropdown-popover"
  [animated]="true"
>
  <ng-template>
    <ion-content class="dropdown-content">
      @if (enableSearch()) {
      <ion-searchbar
        animated="true"
        [value]="searchQuery()"
        (ionInput)="onSearchChange($event)"
        placeholder="Search..."
        #searchbar
        [autofocus]="true"
      >
      </ion-searchbar>
      }
      <ion-list class="dropdown-list">
        <!-- Null option -->
        @if (allowNullOption()) {
        <ion-item
          button
          (click)="selectItem(null, $event)"
          [class.selected]="isSelected(null)"
          tabindex="0"
          (keydown.enter)="selectItem(null, $event)"
          (keydown.space)="selectItem(null, $event)"
        >
          @if (multiple()) {
          <ion-checkbox
            slot="start"
            [checked]="isSelected(null)"
            (ionChange)="selectItem(null, $event)"
          ></ion-checkbox>
          }
          <ion-label>{{ nullOptionLabel() }}</ion-label>
        </ion-item>
        }

        <!-- Regular options with filtering -->
        @for (option of filteredOptions(); track option.value) {
        <ion-item
          button
          (click)="selectItem(option.value, $event)"
          [class.selected]="isSelected(option.value)"
          tabindex="0"
          (keydown.enter)="selectItem(option.value, $event)"
          (keydown.space)="selectItem(option.value, $event)"
        >
          @if (multiple()) {
          <ion-checkbox
            slot="start"
            [checked]="isSelected(option.value)"
            (ionChange)="selectItem(option.value, $event)"
          ></ion-checkbox>
          }
          <ion-label>{{ option.label }}</ion-label>
        </ion-item>
        }

        <!-- Empty state message when no options match search -->
        @if (filteredOptions().length === 0) {
        <ion-item lines="none" class="empty-message">
          <ion-label color="medium" class="ion-text-center">
            No matching options found
          </ion-label>
        </ion-item>
        }
      </ion-list>

      <!-- Done button for multiple selection -->
      @if (multiple()) {
      <div class="ion-padding">
        <ion-button expand="block" (click)="confirmMultiSelection()"
          >Done</ion-button
        >
      </div>
      }
    </ion-content>
  </ng-template>
</ion-popover>
