<app-page-topbar title="Budding Totals"></app-page-topbar>
<ion-content>
  <app-content-topbar title="Budding Totals" [showRefresher]="false"></app-content-topbar>
  <div id="content">
    <ion-header>
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>Filters</ion-label>
          </ion-item>
          <div slot="content">
            <ion-toolbar>
              <ion-searchbar [(ngModel)]="globalSearchFilter"></ion-searchbar>
            </ion-toolbar>
            <ion-list lines="full">
              <ion-item>
                <ion-select aria-modal label="View" labelPlacement="stacked" interface="action-sheet" 
                  [interfaceOptions]="{header:'Select View'}"
                  [(ngModel)]="viewFilter">
                  <ion-select-option value="totalsByDay">Totals by Day</ion-select-option>
                  <ion-select-option value="totalsByVarietyAndRootstock">Totals by Variety And Rootstock</ion-select-option>
                  <ion-select-option value="totalsByBudder">Totals by Budder</ion-select-option>
                  <ion-select-option value="completedRowsByDay">Completed Rows by Day</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                @if (plantedRootPoolPlantedYears().length > 0) {
                  <ion-select aria-modal label="Year" labelPlacement="stacked" interface="action-sheet" 
                    [interfaceOptions]="{header:'Select Year'}"
                    [(ngModel)]="yearFilter">
                    @for (year of plantedRootPoolPlantedYears(); track year) {
                      <ion-select-option [value]="year">{{ year }}</ion-select-option>
                    }
                  </ion-select>
                }
              </ion-item>
              <ion-item>
                @if (filteredPlantedFieldsForYear().length > 0) {
                  <ion-select aria-modal label="Field" labelPlacement="stacked" interface="action-sheet" 
                    [interfaceOptions]="{header:'Select Field'}"
                    [(ngModel)]="fieldFilter"
                    [compareWith]="fieldCompare">
                    <ion-select-option [value]="null">All Fields</ion-select-option>
                    @for (field of filteredPlantedFieldsForYear(); track field.id) {
                      <ion-select-option [value]="field">{{ field.field }}</ion-select-option>
                    }
                  </ion-select>
                }
              </ion-item>
              @if (viewFilter() === 'totalsByBudder') {
                <ion-item>
                  @if (buddingEntryDates().length > 0) {
                    <ion-select aria-modal label="Date" labelPlacement="stacked" interface="action-sheet" 
                      [interfaceOptions]="{header:'Select Date'}"
                      [(ngModel)]="dateFilter">
                      <ion-select-option [value]="null">All Days</ion-select-option>
                      @for (date of buddingEntryDates(); track date) {
                        <ion-select-option [value]="date">{{ date | date:'MM/dd/yyyy' }}</ion-select-option>
                      }
                    </ion-select>
                  }
                </ion-item>
              }
            </ion-list>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-header>
      @if (filteredBuddingEntryTotalListRecords().length === 0) {
        @if (isFetchingData()) {
          <ion-progress-bar type="indeterminate"></ion-progress-bar>
          <ion-list>
            <ion-item>
              <ion-label>
                Loading Budding Entry Totals... 
              </ion-label>
            </ion-item>
          </ion-list>
        } @else {
          <ion-list>
            <ion-item>
              <ion-label>
                No Budding Entry Totals Found... 
              </ion-label>
            </ion-item>
          </ion-list>
        }
      } @else {
        <ion-list id="totals-list">
          @switch (viewFilter()) {
            @case ('totalsByDay') {
              @for (dayTotal of buddedEntriesTotalsByDayRecords(); track dayTotal.date) {
                <ion-item>
                  <ion-label>
                    <strong>{{ dayTotal.date | date:'MM/dd/yyyy' }}</strong>
                  </ion-label>
                  <ion-label slot="end" class="metadata-end-wrapper">
                    <ion-note class="ion-text-wrap">  
                      <ion-chip [color]="'success'">
                        Budded: {{ dayTotal.totalBuddedQuantity.toLocaleString() }}
                      </ion-chip>
                    </ion-note>
                  </ion-label>
                </ion-item>
              }
            }
            @case ('totalsByVarietyAndRootstock') {
              @for (varietyRootstockTotal of buddedEntriesTotalsByVarietyAndRootstockRecords(); track $index) {
                <ion-item>
                  <ion-label>
                    <strong>{{ varietyRootstockTotal.variety.name + ' - ' + varietyRootstockTotal.rootstock.name }}</strong>
                  </ion-label>
                  <ion-label slot="end" class="metadata-end-wrapper">
                    <ion-note class="ion-text-wrap">
                      <ion-chip [color]="'success'">
                        Budded: {{ varietyRootstockTotal.totalBuddedQuantity.toLocaleString() }}
                      </ion-chip>
                    </ion-note>
                  </ion-label>
                </ion-item>
              }
            }
            @case ('totalsByBudder') {
              @for (budderTotal of buddedEntriesTotalsByBudderRecords(); track $index) {
                <ion-item>
                  <ion-label>
                    <strong>{{ budderTotal.budder.firstName + ' ' + budderTotal.budder.lastName }}</strong>
                  </ion-label>
                  <ion-label slot="end" class="metadata-end-wrapper">
                    <ion-note class="ion-text-wrap">
                      <ion-chip [color]="'success'">
                        Budded: {{ budderTotal.totalBuddedQuantity.toLocaleString() }}
                      </ion-chip>
                    </ion-note>
                  </ion-label>
                </ion-item>
              }
            }
            @case ('completedRowsByDay') {
              @for (date of datesWithCompletedRows(); track $index) {
                <ion-item-group>
                  <ion-item-divider>
                    <ion-label>
                      <strong>{{ date.dateCompleted | date: 'MM/dd/yyyy' }}</strong>
                    </ion-label>
                    <ion-label slot="end" class="metadata-end-wrapper">
                      <ion-note class="ion-text-wrap">
                        <ion-chip [color]="'success'">
                          Budded: {{ date.totalBuddedQuantity.toLocaleString() }}
                        </ion-chip>
                      </ion-note>
                    </ion-label>
                  </ion-item-divider>
                  @for (row of date.completedRows; track $index) {
                    <ion-item [lines]="'none'">
                      <ion-label>
                        <strong>Row {{ row.row }}</strong>
                      </ion-label>
                      <ion-label slot="end" class="metadata-end-wrapper">
                        <ion-note class="ion-text-wrap">
                          <ion-chip [color]="'success'">
                            Budded: {{ row.totalBuddedQuantity.toLocaleString() }} 
                          </ion-chip>
                        </ion-note>
                      </ion-label>
                    </ion-item>
                  }
                </ion-item-group>
              }
            } @default {
              <ion-list>
                <ion-item>
                  <ion-label>
                    Please select a valid view from the filters
                  </ion-label>
                </ion-item>
              </ion-list>
            }
          }
        </ion-list>
      }
	</div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title size="small">
      <strong>Total Budded:</strong>
        <ion-chip [color]="'success'">
          {{ totalQuantityBudded().toLocaleString() }}
        </ion-chip>
    </ion-title>
  </ion-toolbar>
</ion-footer>
