ion-list {
  overflow: auto;
}
.icon-option {
  display: flex;
  align-items: center;
}
.icon-option ion-icon {
  margin-right: 8px;
}
#edit-ledger-entry-buttons {
  display: flex;
  margin: 16px;
}
#edit-ledger-entry-buttons ion-button {
  flex: 1;
}