<ion-header>
  <ion-toolbar>
    <ion-title size="small">
      @if (formType() === 'view') {
        Container Entry Details
      }
      @if (formType() === 'new') {
        New Container Entry
      }
    </ion-title>
  </ion-toolbar>
</ion-header>
@if (isFetchingData()) {
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
}
<ion-list lines="full">
  @if (formType() === 'new' && !initialReturnReceipt()) {
    <ion-item>
      <ion-select aria-modal label="Action" labelPlacement="stacked" interface="popover"
        [disabled]="!isEditing() || isFetchingData()"
        [(ngModel)]="ledgerAction">
        <ion-select-option [value]="'AddContainer'">Add Containers</ion-select-option>
        <ion-select-option [value]="'RemoveContainer'">Remove Containers</ion-select-option>
        <ion-select-option [value]="'SendToCustomer'">Send Container To Customer</ion-select-option>
        <ion-select-option [value]="'RecieveFromCustomer'">Recieve Container From Customer</ion-select-option>
      </ion-select>
    </ion-item>
  }
  @if (ledgerAction() === 'SendToCustomer' || ledgerAction() === 'RecieveFromCustomer' || initalContainerLedgerEntryType() === 'Customer') {
    <ion-item>
      @if (!isEditing() || initialReturnReceipt()) {
        @if (customer()) {
          <ion-input label="Customer" labelPlacement="stacked"
            [disabled]="isFetchingData()"
            readonly [(ngModel)]="customer()!.name">
          </ion-input>
        }
      } @else {
        <ion-select aria-modal label="Customer" labelPlacement="stacked" interface="popover"
          [disabled]="sortedCustomers().length === 0 || isFetchingData()"
          [(ngModel)]="customer">
          @for (customer of sortedCustomers(); track customer.id) {
            <ion-select-option [value]="customer">
              {{ customer.name }}
            </ion-select-option>
          }
        </ion-select>
      }
    </ion-item>
  }
  @if (ledgerAction() === 'SendToCustomer' || ledgerAction() === 'RecieveFromCustomer' || initalContainerLedgerEntryType() === 'Customer') {
    @if (containerReturnReceiptsForCustomer().length !== 0) {
      <ion-item>
        @if (!isEditing() || initialReturnReceipt()) {
          @if (initialReturnReceipt()) {
            <ion-input label="Return Receipt" labelPlacement="stacked"
              [disabled]="isFetchingData()"
              readonly [ngModel]="containerReturnReceiptDisplayString()">
            </ion-input>
          }
        } @else {
          <ion-select aria-modal label="Return Receipt" labelPlacement="stacked" interface="popover"
            [disabled]="containerReturnReceiptsForCustomer().length === 0 || isFetchingData()"
            [(ngModel)]="containerReturnReceipt">
            @for (containerReturnReceipt of containerReturnReceiptsForCustomer(); track containerReturnReceipt.id) {
              <ion-select-option [value]="containerReturnReceipt">
                {{ containerReturnReceipt.containerReceiptReference }}
              </ion-select-option>
            }
          </ion-select>
        }
      </ion-item>
    }
  }
  <ion-item>
    @if (!isEditing()) {
      @if (containerType()) {
        <ion-input label="Container Type" labelPlacement="stacked"
          [disabled]="isFetchingData()"
          readonly [(ngModel)]="containerType()!.name">
        </ion-input>
      }
    } @else {
      <ion-select aria-modal label="Container Type" labelPlacement="stacked" interface="popover"
        [disabled]="sortedContainerTypes().length === 0 || isFetchingData()"
        [(ngModel)]="containerType">
        @for (containerType of sortedContainerTypes(); track containerType.id) {
          <ion-select-option [value]="containerType">
            {{ containerType.name }}
          </ion-select-option>
        }
      </ion-select>
    }
  </ion-item>
  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime-button [disabled]="formType() === 'view'" datetime="date"></ion-datetime-button>
    <ion-popover [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="date"
          (ionChange)="dateChanged($event)"
          [value]="dateIso()">
        </ion-datetime>
      </ng-template>
    </ion-popover>
  </ion-item>
  <ion-item>
    <ion-input label="Quantity" labelPlacement="stacked" 
      type="number" inputmode="numeric"
      [disabled]="isFetchingData()"
      [readonly]="!isEditing()"
      [(ngModel)]="quantity">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-textarea label="Note" labelPlacement="stacked" 
      [disabled]="isFetchingData()"
      [readonly]="!isEditing()"
      [(ngModel)]="note">
    </ion-textarea>
  </ion-item>
  @if (ledgerAction() === 'SendToCustomer' || ledgerAction() === 'RecieveFromCustomer' || initalContainerLedgerEntryType() === 'Customer') {
    <ion-item>
      <ion-input label="Invoice Number" labelPlacement="stacked" 
        [disabled]="isFetchingData()"
        [readonly]="!isEditing()"
        [(ngModel)]="customerInvoiceNumber">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Ranch" labelPlacement="stacked" 
        [disabled]="isFetchingData()"
        [readonly]="!isEditing()"
        [(ngModel)]="customerRanch">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Shipment Year" labelPlacement="stacked" 
        [disabled]="isFetchingData()"
        [readonly]="!isEditing()"
        [(ngModel)]="shipmentYear">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Shipment #" labelPlacement="stacked" 
        [disabled]="isFetchingData()"
        [readonly]="!isEditing()"
        [(ngModel)]="shipmentNumber">
      </ion-input>
    </ion-item>
  }
</ion-list>
@if (formType() === 'new') {
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button color="success" 
      [disabled]="!containerLedgerTransactionIsValid() || isFetchingData()" 
      (click)="createContainerLedgerEntry()">
      <ion-icon ios="checkmark-outline" md="checkmark-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
}