<ion-header>
  <ion-toolbar>
    <ion-title size="small">
      @if (formType() === 'view') {
        Return Details
      }
      @if (formType() === 'update') {
        Edit Return
      }
      @if (formType() === 'new') {
        New Return
      }
    </ion-title>
  </ion-toolbar>
</ion-header>
@if (isFetchingData()) {
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
}
<ion-list lines="full">
  <ion-item>
    @if (!isEditing()) {
      @if (customer()) {
        <ion-input label="Customer" labelPlacement="stacked"
          [disabled]="isFetchingData()"
          readonly [(ngModel)]="customer()!.name">
        </ion-input>
      }
    } @else {
      <ion-select aria-modal label="Customer" labelPlacement="stacked" interface="popover"
        [disabled]="sortedCustomers().length === 0 || isFetchingData()"
        [(ngModel)]="customer">
        @for (customer of sortedCustomers(); track customer.id) {
          <ion-select-option [value]="customer">
            {{ customer.name }}
          </ion-select-option>
        }
      </ion-select>
    }
  </ion-item>
  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime-button [disabled]="formType() === 'view' || !isEditing()" datetime="date"></ion-datetime-button>
    <ion-popover [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="date"
          (ionChange)="dateChanged($event)"
          [value]="dateIso()">
        </ion-datetime>
      </ng-template>
    </ion-popover>
  </ion-item>    
  <ion-item>
    <ion-input label="Receipt Reference" labelPlacement="stacked" 
      [disabled]="isFetchingData()"
      [readonly]="!isEditing()"
      [(ngModel)]="containerReceiptReference">
    </ion-input>
  </ion-item>
</ion-list>
@if (formType() === 'new') {
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button color="success" 
      [disabled]="!validContainerReturnReceiptToSave() || isFetchingData()" 
      (click)="createContainerReturnReceiptProduct()">
      <ion-icon ios="checkmark-outline" md="checkmark-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
}
@if (formType() === 'update') {
  @if (!isEditing()) {
    <ion-fab slot="fixed" horizontal="start" vertical="bottom">
      <ion-fab-button [color]="'danger'"
        [disabled]="isFetchingData()"
        (click)="isDeleting.set(true)">
        <ion-icon ios="trash-outline" md="trash-sharp"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab slot="fixed" [horizontal]="'end'" vertical="bottom">
      <ion-fab-button [color]="'primary'"
        [disabled]="isFetchingData()"
        (click)="isEditing.set(true)">
        <ion-icon [ios]="'pencil-outline'" [md]="'pencil-sharp'"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  }
  @if (isEditing()) {
    <ion-fab slot="fixed" [horizontal]="'start'" vertical="bottom">
      <ion-fab-button [color]="'danger'"
        [disabled]="isFetchingData()"
        (click)="resetForm(); isEditing.set(false)">
        <ion-icon [ios]="'close-outline'" [md]="'close-sharp'"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab slot="fixed" horizontal="end" vertical="bottom">
      <ion-fab-button color="success" 
        [disabled]="!validContainerReturnReceiptToSave() || isFetchingData()" 
        (click)="updateContainerReturnReceiptProduct()">
        <ion-icon ios="checkmark-outline" md="checkmark-sharp"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  }
}
<ion-modal aria-modal [isOpen]="isDeleting()" (didDismiss)="isDeleting.set(false)">
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title size="small">Delete Return</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="isDeleting.set(false)">
            <ion-icon slot="icon-only" ios="close-outline" md="close-sharp"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-text>
        <h4>You are about to delete this Return</h4>
        <p>Are you sure you want to do this?</p>
      </ion-text>
    </ion-content>
    <ion-footer class="ion-padding">
      <ion-button expand="block" fill="outline" [color]="'danger'"
        [disabled]="isFetchingData()"
        (click)="isDeleting.set(false); deleteContainerReturnReceiptProduct()">
        Yes, Delete Return
        <ion-icon slot="end" ios="trash-outline" md="trash-sharp"></ion-icon>
      </ion-button>
      <ion-button expand="block" fill="outline" 
        [disabled]="isFetchingData()"
        (click)="isDeleting.set(false)">
        No, Cancel
        <ion-icon slot="end" ios="cancel-outline" md="cancel-sharp"></ion-icon>
      </ion-button>
    </ion-footer>
  </ng-template>
</ion-modal>