<ion-card class="total-quantity-card">
  <ion-card-content>
    <div class="total-display">
      <div class="total-label">{{ title() }}</div>
      <div
        class="total-value"
        [ngClass]="{
          positive: totals() > 0,
          negative: totals() < 0,
          neutral: totals() === 0
        }"
      >
        <ion-icon
          [name]="
            totals() > 0 ? 'arrow-up' : totals() < 0 ? 'arrow-down' : 'remove'
          "
          [color]="
            totals() > 0 ? 'success' : totals() < 0 ? 'danger' : 'medium'
          "
        ></ion-icon>
        <span>{{ totals() }}</span>
      </div>
    </div>
  </ion-card-content>
</ion-card>
