/* FAB button styling */
:host {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

/* Modal styling */
ion-modal {
  --border-radius: 8px;
  --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* Ensure modal has a maximum width on larger screens */
@media (min-width: 768px) {
  ion-modal {
    --width: 600px;
    --height: auto;
  }
}
