<app-page-topbar title="Container Tracking"></app-page-topbar>
<ion-content>
  <app-content-topbar title="Container Tracking" [showRefresher]="false"></app-content-topbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom" [color]="'primary'">
      <ion-tab-button tab="send">
        <ion-icon [ios]="'arrow-up-outline'" [md]="'arrow-up-sharp'"></ion-icon>
        <ion-label>Send</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="receive">
        <ion-icon [ios]="'arrow-down-outline'" [md]="'arrow-down-sharp'"></ion-icon>
        <ion-label>Receive</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>