<app-page-topbar title="Container Tracking"></app-page-topbar>
<ion-content>
  <app-content-topbar
    title="Container Tracking"
    [showRefresher]="false"
  ></app-content-topbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom" [color]="'primary'">
      <ion-tab-button tab="ledger">
        <ion-icon [ios]="'grid-outline'" [md]="'grid-sharp'"></ion-icon>
        <ion-label>Ledger</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="customer-ledger">
        <ion-icon [ios]="'people-outline'" [md]="'people-sharp'"></ion-icon>
        <ion-label>Customer</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="ledger-summary">
        <ion-icon [ios]="'book-outline'" [md]="'book-sharp'"></ion-icon>
        <ion-label>Summary</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
    <ion-router-outlet></ion-router-outlet>
  </ion-tabs>
</ion-content>
