/* filepath: s:\development\freelancing\groundwork-systems\repos\mbn\MB-Warehouse-Mobile-App\src\app\pages\container-tracking\container-tracking.page.scss */
ion-tabs {
  position: relative;
  height: 100%;
  touch-action: auto !important;
  pointer-events: auto !important;
}

ion-tab-bar {
  --color: var(--ion-color-medium);
  --color-selected: var(--ion-color-primary);
}

ion-tab-button {
  --padding-top: 8px;
  --padding-bottom: 8px;
  font-size: 12px;
}

ion-router-outlet {
  pointer-events: auto !important;
  touch-action: auto !important;
  position: relative;
}

ion-content {
  --overflow: auto;
  --touch-action: auto;
}
