<ion-header>
  <ion-toolbar>
    <ion-title size="small">
      Planting Details
    </ion-title>
  </ion-toolbar>
</ion-header>
@if (isFetchingData()) {
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
}
<ion-list lines="full">
  @if (this.initialPlantedRootPool()) {
    <ion-item>
      <ion-label>
        Year Planted: <strong>{{ initialPlantedRootPool()!.plantedYear }}</strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Date Planted: <strong>{{ initialPlantedRootPool()!.plantedDate | date : 'MM/dd/yyyy' }}</strong>
      </ion-label>
    </ion-item>
    @if (this.plantedFieldForSelectedPlantedRootPool()) {
      <ion-item>
        <ion-label>
          Field: <strong>{{ plantedFieldForSelectedPlantedRootPool()!.field }}</strong>
        </ion-label>
      </ion-item>
    }
    <ion-item>
      <ion-label>
        Row: <strong>{{ initialPlantedRootPool()!.row }}</strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Quantity Planted: <strong>{{ initialPlantedRootPool()!.quantity ? initialPlantedRootPool()!.quantity!.toLocaleString() : 'N/A' }}</strong>
      </ion-label>
    </ion-item>
    @if (this.plantedTypeForSelectedPlantedRootPool()) {
      <ion-item>
        <ion-label>
          Planting Type: <strong>{{ plantedTypeForSelectedPlantedRootPool()!.type }}</strong>
        </ion-label>
      </ion-item>
    }
    @if (this.rootstockForSelectedPlantedRootPool()) {
      <ion-item>
        <ion-label>
          Rootstock: <strong>{{ rootstockForSelectedPlantedRootPool()!.name }}</strong>
        </ion-label>
      </ion-item>
    }
    @if (this.supplierForSelectedPlantedRootPool()) {
      <ion-item>
        <ion-label>
          Supplier: <strong>{{ supplierForSelectedPlantedRootPool()!.name }}</strong>
        </ion-label>
      </ion-item>
    }
    @if (this.varietyForSelectedPlantedRootPool()) {
      <ion-item>
        <ion-label>
          Planted Variety: <strong>{{ varietyForSelectedPlantedRootPool()!.name }}</strong>
        </ion-label>
      </ion-item>
    }
    <ion-item>
      <ion-label>
        Budding Complete: <strong>{{ initialPlantedRootPool()!.buddingComplete ? 'Yes' : 'No' }}</strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Dug: <strong>{{ initialPlantedRootPool()!.dug ? 'Yes' : 'No' }}</strong>
      </ion-label>
    </ion-item>
    @if (initialPlantedRootPool()!.dateDug) {
      <ion-item>
        <ion-label>
          Date Dug: <strong>{{ initialPlantedRootPool()!.dateDug | date : 'MM/dd/yyyy' }}</strong>
        </ion-label>
      </ion-item>
    }
    <ion-item>
      <ion-label>
        Bench Graft: <strong>{{ initialPlantedRootPool()!.benchGraft ? 'Yes' : 'No' }}</strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Replant: <strong>{{ initialPlantedRootPool()!.replant ? 'Yes' : 'No' }}</strong>
      </ion-label>
    </ion-item>
  }
</ion-list>